<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include ="~{/admin/layouts/header :: head}">
  <title>User</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block">
        <a th:href="@{/home}" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a th:href="@{https://www.facebook.com/phunghung.2342000}" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form method="get" th:action="@{/admin/monhoc/list/{page}(page=${page})}" class="form-inline ml-3">
      <input class="form-control form-control-navbar" type="text" placeholder="Tìm kiếm"  id="timkiem" name="search">
      <button class="btn btn-navbar" type="submit" id="sea" >
        <i class="fas fa-search"></i>
      </button>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-close">
          <a class="nav-link" sec:authentication="name">
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <form th:action="@{/logout}" method="POST">
                <button type="submit">Logout</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar" th:include ="~{/admin/layouts/menu :: menu}"></div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Danh sách môn học</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <div class="col-md-12" id="list" >
        <button id="btn_add_monhoc" name="btn_add" class="btn btn-success pull-right">Add</button>
        <table class="table" id="table">
          <thead>
          <tr>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="monhoc : ${monhoc}" th:id="${monhoc.MaMonHoc}">
            <th th:text="${monhoc.MaMonHoc}"></th>
            <td th:text="${monhoc.TenMonHoc}"></td>
            <td>
              <button th:data-id="${monhoc.MaMonHoc}"  class="editmonhoc btn btn-primary">
                Edit
              </button>
              <button  th:data-id="${monhoc.MaMonHoc}"  class="deletemonhoc btn btn-danger">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


      <div>
        <ul class="pagination container my-1">
          <li>
            <a class="page-link" th:href="@{/admin/monhoc/list/1}">First</a>
          </li>
          <li th:class="${page == 1}? 'page-item disabled' : 'page-item'">
            <a class="page-link" aria-label="Previous"
               th:href="@{/admin/monhoc/list/{page}(page=${page-1})}"
               title='Go to previous page'><span aria-hidden="true">«</span>
              <span class="sr-only">Previous</span></a>
          </li>
          <li
                  th:each="item :  ${#numbers.sequence(page-1,page+1)}"
                  th:class="${item == 0 || item == listpage +1? 'page-item disabled' :'page-item' } ">

            <a class="page-link" th:text=${item} th:href="@{/admin/monhoc/list/{page}(page=${item})}"> <span>1</span>
            </a>
          </li>
          <li
                  th:each="item : ${listpage}"
                  th:class="${page == listpage}? 'page-item disabled' : 'page-item'">
            <a class="page-link" aria-label="Next"
               th:href="@{/admin/monhoc/list/{page}(page=${page+1})}"
               title='Go to next page'>
              <span aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
          </li>
          <li>
            <a class="page-link" th:href="@{/admin/monhoc/list/{page}(page=${listpage})}">Last</a>
          </li>
        </ul>
      </div>
      <div name = "modal">
        <div class="modal" id="modaladdmonhoc" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Thêm môn học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" id="addformmonhoc">

                  <input type="text" placeholder="Mã môn học" id="mamonhoc" name="mamonhoc"
                         class="form-control mb-4 col-12" >

                  <input type="text" placeholder="Tên môn học" id="tenmonhoc" name="tenmonhoc"
                         class="form-control mb-4 col-12" >

                  </select>
                  </br>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="sb">Save</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="modaldeletemonhoc" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Xóa lớp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Bạn có chắc chắn muốn xóa không?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="delete">Yes</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="modaleditmonhoc" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit môn học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="PUT" id="edit_monhoc" >
                  <input type="text" placeholder="Tên môn học" id="tenmonhocedit" name="tenmonhocedit"
                         class="form-control mb-4 col-12" >
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- /.content -->
  </div>

  <aside class="control-sidebar control-sidebar-dark">

  </aside>
  <!-- /.control-sidebar -->
</div>
<div  th:include ="~{/admin/layouts/js :: js}"></div>
<script th:src="@{/js/monhoc.js}" type="text/javascript"></script>

</body>
</html>
